<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<h1>Make a place to go.</h1>
<form action="/cities" method="post">
  <label for="new-country">Country:</label>
  <input id="new-country" name="new-country" type="text">
  <label for="new-city">City:</label>
  <input id="new-city" name="new-city" type="text">
  <label for="new-image">Photo URL:</label>
  <input id="new-image" name="new-image" type="text">
  <button type="submit">Add Place</button>
</form>
